body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    font-family: 'Spartan', sans-serif;
}

.row {
    margin-bottom: 5%;
}

ul {
    list-style-type: none;
}

.attribution {
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: #3e52a3;
}

.container-fluid {
    padding: 5%;
}

/* Main Section */
.main {
    padding: 7% 6%;
}

.main-text {
    color: #502050;
    font-weight: 700;
    font-size: 2rem;
    padding: 3% 4% 2%;
}

.main-subtext {
    color: #937b92;
    font-size: 1rem;
    font-weight: 300;
}

/* Reviews Section */
.reviews {
    background-color: #f7f2f7;
    padding: 2%;
}

.reviews-nopadding {
    padding: 0;
}

.reviews-text {
    color: #502050;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 2.5;
}



/* Testimonials Section */
.customer-info {
    text-align: left;
    align-self: center;
}

.testimonials {
    background-color: #502050;
    margin-bottom: 1rem;
    
}

.test {
    display: flex;
    flex-direction: row;
}

.testimonials-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 23px;
}

.testimonials-name {
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.testimonials-subname {
    color: #ee68a4;
    font-weight: 500;
    font-size: 0.8rem;
    display: block;
}

.testimonials-text {
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0;
    line-height: 2;
}

/* Footer Section */
.bottom-words {
    color: #000;
    font-size: 0.8rem;
}

.footer {
    display: block;
}


@media only screen and (min-width: 768px) {

    .container-fluid {
        padding: 10% 5%;
    }

    /* Main Section */
    .main {
        padding: 0 7% 0 0;
    }

    .main-text {
        text-align: left;
        padding: 0;
        font-size: 3rem;
    }

    .main-subtext {
        text-align: left;
    }

    /* Reviews Section */
    .list-group {
        justify-content: space-between;
    }

    .reviews {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        padding: 3%;
    }
    
    .reviews-desktop-start {
        align-self: flex-start;
    }
    
    .reviews-desktop-center {
        align-self: center;
    }
    
    .reviews-desktop-end {
        align-self: flex-end;
    }

    /* Testimonials Section */
    .testimonials {
        margin: 1%;
    }

    .testimonials-desktop-start {
        align-self: flex-start;
        margin-bottom: 3rem;
    }

    .testimonials-desktop-center {
        align-self: center;
    }

    .testimonials-desktop-end {
        align-self: flex-end;
    }
}
