body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    font-family: 'Spartan', sans-serif;
}

ul {
    list-style-type: none;
}

.attribution {
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: #3e52a3;
}

.container-fluid {
    padding: 5%;
    height: 95vh;
}

/* Main Section */
.main {
    padding: 7% 6%;
}

.main-text {
    color: #502050;
    font-weight: 700;
    font-size: 2rem;
    padding: 3% 4% 2%;
}

.main-subtext {
    color: #937b92;
    font-size: 1rem;
    font-weight: 300;
}

/* Reviews Section */
.reviews {
    background-color: #f7f2f7;
    padding: 2%;
}

.reviews-nopadding {
    padding: 0;
}

.reviews-text {
    color: #502050;
    font-weight: 700;
}



/* Testimonials Section */
.testimonials {
    background-color: #502050;
}

.testimonials-image {
    /* width: 100%; */
}

.testimonials-name {
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
}

.testimonials-subname {
    color: #ee68a4;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 0.7;
}

.testimonials-text {
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0;
    line-height: 2;
}

/* Footer Section */
.bottom-words {
    color: #000;
    font-size: 0.8rem;
}

.footer {
    display: block;
}


@media only screen and (min-width: 768px) {

    /* Main Section */
    .main {
        padding: 0 15% 0 0;
    }

    .main-text {
        text-align: left;
        padding: 0;
        font-size: 2rem;
    }

    .main-subtext {
        text-align: left;
    }

    /* Reviews Section */
    .reviews {
        padding: 2% 15%;
        width: 80%;
    }

    .reviews-stars{
        margin: 2% 5%;
    }

    .reviews-text {
        display: inline;
    }

    .reviews-desktop-start {
        align-self: flex-start;
    }
    
    .reviews-desktop-center {
        align-self: center;
    }
    
    .reviews-desktop-end {
        align-self: flex-end;
    }

    /* Testimonials Section */
    .testimonials {
        margin: 1%;
        height: 95%;
    }

    .testimonials-desktop-start {
        /* align-self: flex-start; */
    }

    .testimonials-desktop-center {
        /* align-self: center; */
    }

    .testimonials-desktop-end {
        /* align-self: flex-end; */
    }
}
